<?xml version="1.0" encoding="utf-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox 3">
		<menu id="root-menu-735128" label="Most Used">
			<item icon="/usr/share/icons/hicolor/16x16/apps/chromium.png" label="Chromium">
				<action name="Execute">
					<execute>
						chromium
					</execute>
				</action>
			</item>
			<item label="Terminal">
				<action name="Execute">
					<execute>
						terminal
					</execute>
				</action>
			</item>
			<item label="File Manager" icon="/usr/share/icons/hicolor/16x16/apps/Thunar.png">
				<action name="Execute">
					<execute>
						Thunar
					</execute>
				</action>
			</item>
			<item label="PGadmin">
				<action name="Execute">
					<execute>
						pgadmin3
					</execute>
				</action>
			</item>
			<item label="uDig">
				<action name="Execute">
					<execute>
						udig
					</execute>
				</action>
			</item>
			<item label="GVim">
				<action name="Execute">
					<execute>
						gvim
					</execute>
				</action>
			</item>
			<item icon="/usr/share/icons/hicolor/16x16/apps/libreoffice-calc.png" label="LibreOffice Calc">
				<action name="Execute">
					<execute>
						libreoffice --calc
					</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="1" label="Development">
			<item label="IDLE">
				<action name="Execute">
					<execute>
						idle
					</execute>
				</action>
			</item>
			<item label="OpenJDK Monitoring &amp; Management Console">
				<action name="Execute">
					<execute>
						jconsole
					</execute>
				</action>
			</item>
			<item label="OpenJDK Policy Tool">
				<action name="Execute">
					<execute>
						policytool
					</execute>
				</action>
			</item>
			<item label="pgadmin3">
				<action name="Execute">
					<execute>
						pgadmin3
					</execute>
				</action>
			</item>
			<item label="Python">
				<action name="Execute">
					<execute>
						terminal -e python
					</execute>
				</action>
			</item>
			<item label="Qt Assistant">
				<action name="Execute">
					<execute>
						assistant
					</execute>
				</action>
			</item>
			<item label="Qt Designer">
				<action name="Execute">
					<execute>
						designer
					</execute>
				</action>
			</item>
			<item label="Qt Linguist">
				<action name="Execute">
					<execute>
						linguist
					</execute>
				</action>
			</item>
		</menu>
		<menu id="2" label="Editors">
			<item label="AA Fire">
				<action name="Execute">
					<execute>
						terminal -e aafire -driver slang
					</execute>
				</action>
			</item>
			<item label="gedit">
				<action name="Execute">
					<execute>
						gedit
					</execute>
				</action>
			</item>
			<item label="GVim">
				<action name="Execute">
					<execute>
						gvim
					</execute>
				</action>
			</item>
			<item label="Nano">
				<action name="Execute">
					<execute>
						terminal -e nano
					</execute>
				</action>
			</item>
			<item label="Vi">
				<action name="Execute">
					<execute>
						terminal -e vi
					</execute>
				</action>
			</item>
			<item label="Vim">
				<action name="Execute">
					<execute>
						terminal -e vim
					</execute>
				</action>
			</item>
		</menu>
		<menu id="8" label="Education">
			<item label="GRASS GIS">
				<action name="Execute">
					<execute>
						terminal -e grass64
					</execute>
				</action>
			</item>
		</menu>
		<menu id="18" label="Games">
			<menu id="9" label="Adventure">
				<item label="Sclient">
					<action name="Execute">
						<execute>
							sclient
						</execute>
					</action>
				</item>
			</menu>
			<menu id="10" label="Arcade">
				<item label="PacMan">
					<action name="Execute">
						<execute>
							pacman
						</execute>
					</action>
				</item>
			</menu>
		</menu>
		<menu id="6" label="Graphics">
			<item label="Image Viewer">
				<action name="Execute">
					<execute>
						eog
					</execute>
				</action>
			</item>
			<item label="scanimage">
				<action name="Execute">
					<execute>
						terminal -e scanimage
					</execute>
				</action>
			</item>
			<item label="XGlyph">
				<action name="Execute">
					<execute>
						xglyph
					</execute>
				</action>
			</item>
		</menu>
		<menu id="7" label="Multimedia">
			<item label="ALSA mixer">
				<action name="Execute">
					<execute>
						terminal -e alsamixer
					</execute>
				</action>
			</item>
			<item label="Cheese">
				<action name="Execute">
					<execute>
						cheese
					</execute>
				</action>
			</item>
			<item label="Spotify">
				<action name="Execute">
					<execute>
						spotify-beta
					</execute>
				</action>
			</item>
			<item label="VLC media player">
				<action name="Execute">
					<execute>
						vlc
					</execute>
				</action>
			</item>
		</menu>
		<menu id="5" label="Network">
			<item label="Avahi SSH Server Browser">
				<action name="Execute">
					<execute>
						bssh
					</execute>
				</action>
			</item>
			<item label="Avahi VNC Server Browser">
				<action name="Execute">
					<execute>
						bvnc
					</execute>
				</action>
			</item>
			<item label="Checkgmail">
				<action name="Execute">
					<execute>
						checkgmail
					</execute>
				</action>
			</item>
			<item label="Chromium" icon="/usr/share/icons/hicolor/16x16/apps/chromium.png">
				<action name="Execute">
					<execute>
						chromium
					</execute>
				</action>
			</item>
			<item label="Epiphany">
				<action name="Execute">
					<execute>
						epiphany
					</execute>
				</action>
			</item>
			<item label="Epiphany Web Bookmarks">
				<action name="Execute">
					<execute>
						epiphany --bookmarks-editor
					</execute>
				</action>
			</item>
			<item label="FireFox">
				<action name="Execute">
					<execute>
						firefox
					</execute>
				</action>
			</item>
			<item label="FTP">
				<action name="Execute">
					<execute>
						terminal -e ftp
					</execute>
				</action>
			</item>
			<item label="Mail">
				<action name="Execute">
					<execute>
						terminal -e mail
					</execute>
				</action>
			</item>
			<item label="Mail Reader">
				<action name="Execute">
					<execute>
						exo-open --launch MailReader
					</execute>
				</action>
			</item>
			<item label="Pidgin Internet Messenger" icon="/usr/share/icons/hicolor/16x16/apps/pidgin.png">
				<action name="Execute">
					<execute>
						pidgin
					</execute>
				</action>
			</item>
			<item label="Talk">
				<action name="Execute">
					<execute>
						terminal -e talk
					</execute>
				</action>
			</item>
			<item label="Telnet">
				<action name="Execute">
					<execute>
						terminal -e telnet
					</execute>
				</action>
			</item>
			<item label="TkVNC">
				<action name="Execute">
					<execute>
						terminal -e tkvnc
					</execute>
				</action>
			</item>
			<item label="Web Browser">
				<action name="Execute">
					<execute>
						exo-open --launch WebBrowser
					</execute>
				</action>
			</item>
			<item label="wpa_gui">
				<action name="Execute">
					<execute>
						wpa_gui
					</execute>
				</action>
			</item>
		</menu>
		<menu id="3" label="Office">
			<item label="LibreOffice Writer" icon="/usr/share/icons/hicolor/16x16/apps/libreoffice-writer.png">
				<action name="Execute">
					<execute>
						libreoffice --writer
					</execute>
				</action>
			</item>
			<item label="LibreOffice Calc" icon="/usr/share/icons/hicolor/16x16/apps/libreoffice-calc.png">
				<action name="Execute">
					<execute>
						libreoffice --calc
					</execute>
				</action>
			</item>
			<item label="LibreOffice Base" icon="/usr/share/icons/hicolor/16x16/apps/libreoffice-base.png">
				<action name="Execute">
					<execute>
						libreoffice --base
					</execute>
				</action>
			</item>
			<item label="LibreOffice Impress" icon="/usr/share/icons/hicolor/16x16/apps/libreoffice-impress.png">
				<action name="Execute">
					<execute>
						libreoffice --impress
					</execute>
				</action>
			</item>
			<item label="PDF Viewer" icon="/usr/share/icons/hicolor/16x16/apps/evince.png">
				<action name="Execute">
					<execute>
						evince
					</execute>
				</action>
			</item>
			<item label="PostgreSQL Database">
				<action name="Execute">
					<execute>
						terminal -e psql template1
					</execute>
				</action>
			</item>
		</menu>
		<menu id="39" label="Other">
			<item label="CMake">
				<action name="Execute">
					<execute>
						cmake-gui
					</execute>
				</action>
			</item>
			<item label="IcedTea Web Control Panel">
				<action name="Execute">
					<execute>
						itweb-settings
					</execute>
				</action>
			</item>
			<item label="QT V4L2 test Utility">
				<action name="Execute">
					<execute>
						qv4l2
					</execute>
				</action>
			</item>
		</menu>
		<menu id="4" label="Science">
			<item label="R">
				<action name="Execute">
					<execute>
						terminal -e R
					</execute>
				</action>
			</item>
		</menu>
		<menu id="19" label="Shells">
			<item label="GIT">
				<action name="Execute">
					<execute>
						terminal -e git
					</execute>
				</action>
			</item>
			<item label="Terminal">
				<action name="Execute">
					<execute>
						gnome-terminal
					</execute>
				</action>
			</item>
			<item label="Terminal">
				<action name="Execute">
					<execute>
						Terminal
					</execute>
				</action>
			</item>
			<item label="Thunar File Manager">
				<action name="Execute">
					<execute>
						Thunar
					</execute>
				</action>
			</item>
			<item label="Xterm">
				<action name="Execute">
					<execute>
						xterm
					</execute>
				</action>
			</item>
			<item label="XTerm (Unicode)">
				<action name="Execute">
					<execute>
						uxterm
					</execute>
				</action>
			</item>
		</menu>
		<menu id="37" label="System">
			<menu id="36" label="Settings">
				<menu id="21" label="GNOME">
					<item label="Adobe Flash Player">
						<action name="Execute">
							<execute>
								flash-player-properties
							</execute>
						</action>
					</item>
					<item label="Background">
						<action name="Execute">
							<execute>
								gnome-control-center background
							</execute>
						</action>
					</item>
					<item label="Bluetooth">
						<action name="Execute">
							<execute>
								gnome-control-center bluetooth
							</execute>
						</action>
					</item>
					<item label="Color">
						<action name="Execute">
							<execute>
								gnome-control-center color
							</execute>
						</action>
					</item>
					<item label="Date and Time">
						<action name="Execute">
							<execute>
								gnome-control-center datetime
							</execute>
						</action>
					</item>
					<item label="Displays">
						<action name="Execute">
							<execute>
								gnome-control-center display
							</execute>
						</action>
					</item>
					<item label="Keyboard">
						<action name="Execute">
							<execute>
								gnome-control-center keyboard
							</execute>
						</action>
					</item>
					<item label="Mouse and Touchpad">
						<action name="Execute">
							<execute>
								gnome-control-center mouse
							</execute>
						</action>
					</item>
					<item label="Network">
						<action name="Execute">
							<execute>
								gnome-control-center network
							</execute>
						</action>
					</item>
					<item label="Network Connections">
						<action name="Execute">
							<execute>
								nm-connection-editor
							</execute>
						</action>
					</item>
					<item label="Online Accounts">
						<action name="Execute">
							<execute>
								gnome-control-center online-accounts
							</execute>
						</action>
					</item>
					<item label="Power">
						<action name="Execute">
							<execute>
								gnome-control-center power
							</execute>
						</action>
					</item>
					<item label="Printers">
						<action name="Execute">
							<execute>
								gnome-control-center printers
							</execute>
						</action>
					</item>
					<item label="Region and Language">
						<action name="Execute">
							<execute>
								gnome-control-center region
							</execute>
						</action>
					</item>
					<item label="Removable Media">
						<action name="Execute">
							<execute>
								gnome-control-center media
							</execute>
						</action>
					</item>
					<item label="Screen">
						<action name="Execute">
							<execute>
								gnome-control-center screen
							</execute>
						</action>
					</item>
					<item label="Sound">
						<action name="Execute">
							<execute>
								gnome-control-center sound
							</execute>
						</action>
					</item>
					<item label="System Info">
						<action name="Execute">
							<execute>
								gnome-control-center info
							</execute>
						</action>
					</item>
					<item label="Universal Access">
						<action name="Execute">
							<execute>
								gnome-control-center universal-access
							</execute>
						</action>
					</item>
					<item label="Wacom Graphics Tablet">
						<action name="Execute">
							<execute>
								gnome-control-center wacom
							</execute>
						</action>
					</item>
				</menu>
				<menu id="35" label="Xfce">
					<item label="File Manager">
						<action name="Execute">
							<execute>
								thunar-settings
							</execute>
						</action>
					</item>
					<item label="Preferred Applications">
						<action name="Execute">
							<execute>
								exo-preferred-applications
							</execute>
						</action>
					</item>
					<item label="Screensaver">
						<action name="Execute">
							<execute>
								xscreensaver-demo
							</execute>
						</action>
					</item>
				</menu>
				<item label="Openbox Configuration Manager">
					<action name="Execute">
						<execute>
							obconf
						</execute>
					</action>
				</item>
				<item label="Panel tint2">
					<action name="Execute">
						<execute>
							tint2conf
						</execute>
					</action>
				</item>
				<item label="User Accounts">
					<action name="Execute">
						<execute>
							gnome-control-center user-accounts
						</execute>
					</action>
				</item>
			</menu>
			<item label="Avahi Zeroconf Browser">
				<action name="Execute">
					<execute>
						avahi-discover
					</execute>
				</action>
			</item>
			<item label="Bulk Rename">
				<action name="Execute">
					<execute>
						/usr/lib/Thunar/ThunarBulkRename
					</execute>
				</action>
			</item>
			<item label="Cairo Composite Manager">
				<action name="Execute">
					<execute>
						cairo-compmgr
					</execute>
				</action>
			</item>
			<item label="dconf Editor">
				<action name="Execute">
					<execute>
						dconf-editor
					</execute>
				</action>
			</item>
			<item label="GParted">
				<action name="Execute">
					<execute>
						gparted-pkexec
					</execute>
				</action>
			</item>
			<item label="Htop">
				<action name="Execute">
					<execute>
						terminal -e htop
					</execute>
				</action>
			</item>
			<item label="pstree">
				<action name="Execute">
					<execute>
						terminal -e pstree.x11
					</execute>
				</action>
			</item>
			<item label="pstree">
				<action name="Execute">
					<execute>
						terminal -e /usr/bin/pstree.x11
					</execute>
				</action>
			</item>
			<item label="pstree">
				<action name="Execute">
					<execute>
						terminal -e pstree
					</execute>
				</action>
			</item>
			<item label="System Settings">
				<action name="Execute">
					<execute>
						gnome-control-center --overview
					</execute>
				</action>
			</item>
			<item label="Top">
				<action name="Execute">
					<execute>
						terminal -e top
					</execute>
				</action>
			</item>
		</menu>
		<menu id="38" label="Utilities">
			<item label="7-Zip FM">
				<action name="Execute">
					<execute>
						7zFM
					</execute>
				</action>
			</item>
			<item label="Activate ScreenSaver (Next)">
				<action name="Execute">
					<execute>
						xscreensaver-command -next
					</execute>
				</action>
			</item>
			<item label="Activate ScreenSaver (Previous)">
				<action name="Execute">
					<execute>
						xscreensaver-command -prev
					</execute>
				</action>
			</item>
			<item label="Activate ScreenSaver (Random)">
				<action name="Execute">
					<execute>
						xscreensaver-command -activate
					</execute>
				</action>
			</item>
			<item label="Calculator">
				<action name="Execute">
					<execute>
						gcalctool
					</execute>
				</action>
			</item>
			<item label="Caribou">
				<action name="Execute">
					<execute>
						caribou
					</execute>
				</action>
			</item>
			<item label="Character Map">
				<action name="Execute">
					<execute>
						gucharmap
					</execute>
				</action>
			</item>
			<item label="Demo Screen Hacks">
				<action name="Execute">
					<execute>
						xscreensaver-command -demo
					</execute>
				</action>
			</item>
			<item label="Disable XScreenSaver">
				<action name="Execute">
					<execute>
						xscreensaver-command -exit
					</execute>
				</action>
			</item>
			<item label="Enable XScreenSaver">
				<action name="Execute">
					<execute>
						xscreensaver
					</execute>
				</action>
			</item>
			<item label="File Manager">
				<action name="Execute">
					<execute>
						exo-open --launch FileManager
					</execute>
				</action>
			</item>
			<item label="Files">
				<action name="Execute">
					<execute>
						nautilus
					</execute>
				</action>
			</item>
			<item label="Help">
				<action name="Execute">
					<execute>
						yelp
					</execute>
				</action>
			</item>
			<item label="Info">
				<action name="Execute">
					<execute>
						terminal -e info
					</execute>
				</action>
			</item>
			<item label="Reinitialize XScreenSaver">
				<action name="Execute">
					<execute>
						xscreensaver-command -restart
					</execute>
				</action>
			</item>
			<item label="ScreenSaver Preferences">
				<action name="Execute">
					<execute>
						xscreensaver-command -prefs
					</execute>
				</action>
			</item>
			<item label="Terminal Emulator">
				<action name="Execute">
					<execute>
						exo-open --launch TerminalEmulator
					</execute>
				</action>
			</item>
			<item label="Xarchiver">
				<action name="Execute">
					<execute>
						xarchiver
					</execute>
				</action>
			</item>
			<item label="Xev">
				<action name="Execute">
					<execute>
						terminal -e xev
					</execute>
				</action>
			</item>
			<item label="Xrefresh">
				<action name="Execute">
					<execute>
						xrefresh
					</execute>
				</action>
			</item>
			<item label="Xsetroot">
				<action name="Execute">
					<execute>
						xsetroot
					</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="40" label="OpenBox">
			<menu id="client-list-menu"/>
			<item label="Reconfigure">
				<action name="Reconfigure"/>
			</item>
			<separator/>
			<item label="Exit">
				<action name="Exit"/>
			</item>
		</menu>
	</menu>
</openbox_menu>
